
/*-----------------------------------*\
#MEDIA QUERIES FOR TABLET VIEW SIZE
\*-----------------------------------*/

@media (min-width: 768px) {
    .bento-grid {
        max-width: 100%;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        grid-template-rows: repeat(6, minmax(0, 1fr));
        height: 80vh;
    }

    .grid-wrapper svg { display: none; }

    #wrapper {
        grid-column: 3 / 6;
        grid-row: 3 / 5;
    }

    #info-wrapper {
        grid-row: 1 / 3;
        grid-column: 3 / 5;
    }

    #projects-wrapper {
        grid-row: 1 / 3;
        grid-column: 5 / 7;
    }

    #work-wrapper {
        grid-column: 1 / 3;
        grid-row: 1 / 5;
    }

    #resume-wrapper {
        grid-column: 1 / 2;
        grid-row: 5 / 7;
    }

    #education-wrapper {
        grid-column: 6 / 7;
        grid-row: 3 / 6;
    }

    #contact-wrapper {
        grid-column: 2 / 6;
        grid-row: 5 / 7;
    }

    #svg-wrapper {
        grid-column: 6 / 7;
        grid-row: 6 / 7;
    }
}

/*-----------------------------------*\
#MEDIA QUERIES FOR DESKTOP VIEW SIZE
\*-----------------------------------*/

@media (min-width: 1000px) {
    .bento-grid { height: 90vh; }
}

/*-----------------------------------*\
#MEDIA QUERIES FOR PAGE PERFORMANCE
\*-----------------------------------*/

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}