/*-----------------------------------*\
#CUSTOM PROPERTY
\*-----------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');

:root {

    --yellow: rgb(233 196 106);
    --cyan: rgb(42 157 143);
    --light-blue: rgb(154 209 234);
    --orange: rgb(244 162 97);
    --dark-blue: rgb(38 70 83);
    --black: rgb(0 0 0);
    --lightgray: rgb(231 229 228);
    --dark-pink: rgb(188 71 73);
    --light-pink: rgb(242 232 207);
    --green-01: rgb(167 201 87);
    --green-02: rgb(106 153 78);
    --green-03: rgb(56 102 65);

}

/*-----------------------------------*\
#RESET
\*-----------------------------------*/

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html { font-family: "Afacad", sans-serif; }

body {
    margin: 0 auto;
    color: var(--black);
    background-color: var(--lightgray);
    padding-block: 1.8rem;
    padding-inline: 20px;
    height: 100%;
}

button {
    background: none;
    border: none;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

a, li, button, img, span { cursor: pointer; }

li { list-style: none; }

a:focus-visible,
button:focus-visible {
  outline: 3px solid var(--dark-blue);
  outline-offset: 4px;
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/



/*-----------------------------------*\
#BENTO GRID LAYOUT
\*-----------------------------------*/

.bento-grid {
    display: grid;
    gap: 1.25rem;
    margin: auto;
    max-width: 25rem;
}

.grid-wrapper {
    border: 1px solid var(--dark-blue);
    transform: scale(0);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
    position: relative;
}

/*-----------------------------------*\
#WRAPPER (AUTO TYPING)
\*-----------------------------------*/



/*-----------------------------------*\
#INFO WRAPPER (DESCRIPTION)
\*-----------------------------------*/



/*-----------------------------------*\
#PROJECTS WRAPPER
\*-----------------------------------*/



/*-----------------------------------*\
#WORK EXPERIENCE WRAPPER
\*-----------------------------------*/



/*-----------------------------------*\
#RESUME WRAPPER
\*-----------------------------------*/



/*-----------------------------------*\
#EDUCATION WRAPPER
\*-----------------------------------*/



/*-----------------------------------*\
#CONTACT WRAPPER
\*-----------------------------------*/



/*-----------------------------------*\
#SVG WRAPPER
\*-----------------------------------*/